{% extends 'base.html.twig' %}

{% block title %}Welcome to BeerTime !{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href={{ asset('/css/main/index.css')}}>
{% endblock %}

{% block body %}

    <h1 class="text-center"> Welcome to BeerTime !</h1>

{% endblock %}
